div{
    background-color: aqua;
    width: 200px;
    height: 200px;
    border: 10px solid blue;
    padding: 20px;
    
}

.content{
    box-sizing: content-box;
}

.element{
    box-sizing: border-box ;
}