.none{
    background-color: aqua;
    width: 200px;
    height: 20px;
    margin-left: 20px;
}
.visible{
    background-color: aqua;
    overflow: visible;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.hidden{
    background-color: aqua;
    overflow: hidden;
    width: 70px;
    height: 20px;
    margin-left: 20px;
}

.auto{
    background-color: aqua;
    overflow: auto;
    width: 70px;
    height: 20px;
    margin-left: 20px;
}

.scroll{
    background-color: aqua;
    overflow: scroll;
    width: 70px;
    height: 20px;
    margin-left: 20px;
}